<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>tokenURL</key>
	<string>https://accounts.spotify.com/api/token</string>
	<key>signInURL</key>
	<string>https://accounts.spotify.com/authorize</string>
	<key>redirectURL</key>
	<string>https://example.com</string>
	<key>scopes</key>
	<array>
		<string>user-read-private</string>
		<string>playlist-modify-public</string>
		<string>playlist-read-private</string>
		<string>playlist-modify-private</string>
		<string>user-follow-read</string>
		<string>user-library-modify</string>
		<string>user-library-read</string>
		<string>user-read-email</string>
	</array>
	<key>baseURL</key>
	<string>https://api.spotify.com/v1</string>
	<key>clientID</key>
	<string>YOUR_CLIENT_ID</string>
	<key>clientSecret</key>
	<string>YOUR_CLIENT_SECRET</string>
</dict>
</plist>
